.app {
	text-align: center;
}

.app-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.app-header__logo {
	height: 40vmin;
	pointer-events: none;
}

.app-header__link {
	color: #61dafb;
}

.app-footer {
}

@media (prefers-reduced-motion: no-preference) {
	.app-header__logo {
		animation: app-header__logo--spin infinite 20s linear;
	}
}

@keyframes app-header__logo--spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}


